.pdiv{
text-align: left;
height: 35%;
}
.book-name{
    font-size: x-large;
    font-weight: bold;
}
.book-author{

    font-style: italic;
    font-size: small;

}
.book-desc{
    font-size: small;
}

.book-formats{
    font-size: small;
    color: grey;
    margin-top: 10%;
}
.p-b1
{
  align-items: center;
  font-size: small;
  font-family: 'Century Gothic';
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  color:black;
  border: solid 1px black;
  
}
.p-b2, .p-b3
{
  align-items: center;
  margin-left: 5%;
  font-size: small;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: white;
  color:black;
  border: solid 1px black;
}
.p-b1:hover, .p-b2:hover, .p-b3:hover
{
  background-color: black;
  color: white;
}
.p-addToCart{
    margin-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
  padding-bottom: 2%;
  font-size: small;
  align-items: center;
  background-color: black;
  color:white;
}