@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700&display=swap');
/* CSS Above This Line is for Google Font Import - Do Not Copy*/

.tb-brand-navigation {
  background-color: black;
  display: flex;
  justify-content: center;
}

.tb-content {
  width: 960px;
  height: 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tb-h1{
  position: relative;
width: 273px;
height: 48px;
font-family: 'Public Sans';
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 48px;
/* identical to box height, or 133% */

letter-spacing: -0.03em;

color: #FFFFFF;

}

.tb-h2{
  position: relative;
width: 476px;
height: 52px;
font-family: 'Public Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
/* or 144% */

letter-spacing: -0.3px;

color: #FFFFFF;

}

